<!DOCTYPE html>
<html>
<head>
    <title>Screen Sharing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col text-white items-center justify-center min-h-[100vh] p-5 font-bold bg-gradient-to-r from-cyan-500 to-blue-500 gap-10">
    <img class="hidden screen-display w-[90vw]">
    <span class="connect-tip text-[30px]">Connecting to the host ...</span>
    {% if is_host %}
        <a class="px-4 py-2 bg-[#ffffff50] text-black rounded-full hover:bg-[#ffffff70]" href="./monitors">Change Monitor</a>
    {% endif %}

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        let socket = io.connect(window.location.href);
        let screen_display = document.querySelector('.screen-display');
        let connect_tip = document.querySelector('.connect-tip');

        socket.on('connect', function() { console.log('Connected to host'); });
        socket.on('disconnect', function() { console.log('Disconnected from host'); });

        socket.on('stream', function(image) {
            screen_display.classList.remove('hidden')
            connect_tip.classList.add('hidden')
            screen_display.src = 'data:image/jpeg;base64,' + image;
        });
    </script>
</body>
</html>
